:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

svg {
    fill: grey;
    width: 32px;
}

ul li {
    list-style: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-color: lightblue;
}

.top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: aquamarine;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    grid-column: span 1;
}

.card-section > p {
    grid-column: span 2;
}