:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --blue: #1992d4;
}

body {
  margin: 0;
}

svg {
  fill: black;
  width: 32px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  padding: 1rem 2rem 1.5rem 0rem;
}

.logo {
  font-size: 1.25rem;
}

.logo > div {
  margin-right: auto;
}

.logo,
ul {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 15px;
  margin: 0;
}

ul {
  margin-top: 1.5rem;
  row-gap: 1.1rem;
  font-size: 1.1rem;
  opacity: 0.95;
}

ul img {
  width: 22px;
}

ul li {
  list-style: none;
  transition: all 0.3s;
  margin-right: auto;
  margin-left: 0.6rem;
}

ul li:nth-of-type(7),
ul img:nth-of-type(7) {
  margin-top: 5rem;
}

ul li:hover {
  transform: scale(1.1);
  color: var(--blue);
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 0.5rem 4rem 0 2rem;
  box-shadow: 12px 5px 10px #00000020;
  z-index: 1;
  font-weight: 500;
  font-size: 1.2rem;
}

.top img {
  width: 25px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  width: 70%;
  border-radius: 20px;
  border: 0;
  background-color: #eee;
  padding: 0.5rem 1rem;
}

.profile,
.greeting,
.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile,
.buttons {
  justify-content: end;
}

button {
  padding: 0.9em 1.6em;
  border-radius: 20px;
  border: 0;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.greeting {
  line-height: 1.5em;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  background-color: lightblue;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card {
  grid-column: span 1;
}

.card-section > p {
  grid-column: span 2;
}
