:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --blue: #1992d4;
}

body {
  margin: 0;
}

svg {
  fill: white;
  width: 32px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  padding: 1rem 2rem 1.5rem 0rem;
  background-color: var(--blue);
  color: white;
}

.logo {
  font-size: 1.25rem;
}

.logo > div {
  margin-right: auto;
}

.logo,
ul {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 15px;
  margin: 0;
}

ul {
  margin-top: 1.5rem;
  margin-right: auto;
  row-gap: 1.1rem;
  font-size: 1.1rem;
  opacity: 0.95;
}

ul img {
  width: 18px;
}

ul li {
  list-style: none;
  transition: all 0.3s;
  margin-right: auto;
  margin-left: 0.6rem;
}

ul li:nth-of-type(7),
ul img:nth-of-type(7) {
  margin-top: 5rem;
}

ul li:hover {
  transform: scale(1.1);
  color: var(--blue);
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-rows: auto 4fr;
}

.top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 0.5rem 5rem 0 2.5rem;
  box-shadow: 12px 5px 10px #00000020;
  z-index: 1;
  font-weight: 500;
  font-size: 1.2rem;
}

.top img {
  width: 25px;
  cursor: pointer;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  width: 70%;
  border-radius: 20px;
  border: 0;
  background-color: #eee;
  padding: 0.5rem 1rem;
}

.profile,
.greeting,
.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile,
.buttons {
  justify-content: end;
}

button {
  padding: 0.9em 1.6em;
  border-radius: 20px;
  border: 0;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}

.greeting {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

.greeting span {
  font-size: 1rem;
}

.bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #eee;
  padding: 1.5rem 2.5rem;
  gap: 1rem;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  grid-column: span 1;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  border-left: 4px solid #f0b429;
  box-shadow: 5px 5px 10px #00000020;
}

.card > p:first-of-type {
  font-weight: 500;
}

.card-section > p {
  grid-column: span 2;
  font-weight: 500;
  font-size: 1.25rem;
}

.right-sidebar > p {
  font-weight: 500;
  font-size: 1.25rem;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
}
